<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users List</title>
  </head>
  <body>
    <h1>Users List</h1>
    {% if users %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.password }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No users yet.</p>
    {% endif %}
  </body>
</html>
